/* ==============================
   Rafting Site - About Us Page
   Author: Ariel Rivera
   File: rafting.css
   ============================== */


:root {
  --primary-color: #003049;   
  --secondary-color: #d62828; 
  --accent1-color: #f77f00;   
  --accent2-color: #eae2b7;   
  --heading-font: 'Lato', sans-serif;
  --body-font: 'Roboto', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--body-font);
  color: var(--primary-color);
  background-color: #fff;
  line-height: 1.6;
}


header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent2-color);
  padding: 10px 20px;
  border-bottom: 2px solid var(--secondary-color);
}

header .logo {
  max-width: 120px;
}


nav  {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

nav a:hover {
  color: var(--secondary-color);
}


.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #fff;
  font-family: var(--heading-font);
  font-size: 2rem;
}


.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2; 
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 10px;
  border-radius: 8px;
}


h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  margin-bottom: 10px;
}


section, article, p {
  margin: 16px;
  padding: 8px;
}


footer {
  background-color: var(--accent2-color);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  margin-bottom: 10px;
}

footer .socialmedia {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 30px;
  height: 30px;
}
section img {
  float: left;
  margin-right: 15px;
  border-radius: 8px;
}

section{
  margin-bottom: 40px;
}

main {
  padding-bottom: 40px;
}